<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <style>
      * {
        font-family: "Open Sans", sans-serif;
      }
      body {
        margin: 0;
      }
      .status {
        width: 30%;
        height: 300px;
        float: left;
      }

      .game-field {
        width: 70%;
        float: right;
      }
      p {
        font-size: 30px;
        margin: 20px 0 50px 0;
        text-align: center;
      }
    </style>
    <title>tai-xiu</title>
  </head>
  <body>
    <div class="status">
      <ul></ul>
    </div>
    <div class="game-field">
      <div class="info">
        <div class="username"></div>
        <div class="coin"></div>
      </div>
      <p class="dice"></p>
      <form onsubmit="return false">
        <input id="tai" type="radio" name="option" />
        <label for="tai">tài</label>
        <input id="xiu" type="radio" name="option" />
        <label for="xiu">xỉu</label>
        <br />
        <input id="_4" type="radio" name="option" />
        <label for="_4">4</label>
        <input id="_5" type="radio" name="option" />
        <label for="_5">5</label>
        <input id="_6" type="radio" name="option" />
        <label for="_6">6</label>
        <input id="_7" type="radio" name="option" />
        <label for="_7">7</label>
        <input id="_8" type="radio" name="option" />
        <label for="_8">8</label>
        <input id="_9" type="radio" name="option" />
        <label for="_9">9</label>
        <input id="_10" type="radio" name="option" />
        <label for="_10">10</label>
        <input id="_11" type="radio" name="option" />
        <label for="_11">11</label>
        <input id="_12" type="radio" name="option" />
        <label for="_12">12</label>
        <input id="_13" type="radio" name="option" />
        <label for="_13">13</label>
        <input id="_14" type="radio" name="option" />
        <label for="_14">14</label>
        <input id="_15" type="radio" name="option" />
        <label for="_15">15</label>
        <input id="_16" type="radio" name="option" />
        <label for="_16">16</label>
        <input id="_17" type="radio" name="option" />
        <label for="_17">17</label>
        <br />
        <input type="number" />
        <input type="submit" value="BET" />
        <span class="result"></span>
      </form>
      <button class="unbet">UNBET</button>
    </div>
    <script src="../public/socket.js"></script>
  </body>
</html>
